/* Schedule now link animation by "CSS-Tricks" */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Padding Settings to remove whitespace */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Removes scrollbar */
::-webkit-scrollbar{
  display:none;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

.head{
  background-color: #292929;
}

.body{
  background-color: #292929;
}

/* -------------------- Sets the div1 (Above the fold) -------------------- */
.div1{
    background-image: url(imgs/IMG_9216\ \(1\).jpg); /* or can use IMG_9219 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* The nav bar */
.navbar {
  overflow: hidden;
  transition: background-color 200ms linear;
  background-color: rgb(234, 239, 255, 0);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90px;
}

.navbar.scrolled {
  background-color: #2d2d2d;
  transition: background-color 200ms linear;
  /* border-bottom: solid #000000 0.25vh; */
}

.DJD-logo {
  width: 140px;
  margin:0.75vw;
  margin-top: 0.75vw;
}

/* Links inside the navbar */
.navbar a {
  display: flex;
  color: #EAEFFF;
  text-align: center;
  padding: 0.2vh 2vw;
  text-decoration: none;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 27px;
  transition: 0.3s;
}

.navbar a:hover{
  color: #61ac88;
  border-radius: 0vh
}

/* Change scrolled background on hover */
.navbar.scrolled a:hover {
  color:#61ac88;
  border-radius: 0vh;
}

/* Call To Action */
.callToAction {
  display: flex;
  margin-top: 500px;
  padding-left: 4vw;
}

.CTA1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #61ac88;
  /* text-decoration: none;
  text-shadow: 0.35vw 0.35vw 0.35vw black; */
}

.CTA2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  color: #61ac88;
  margin-top: 1.25em;
  translate: -410px;
  /* text-shadow: 0.35vw 0.35vw 0.35vw black; */
  transition: 0.3s;
  text-decoration: none;
}

.CTA2 {
  color: #61ac88;
  text-decoration: none;
}

.CTA2 {
  background:
    linear-gradient(
      to right,
      #61ac88,
      #61ac88
    ),
    linear-gradient(
      to right,
      #5bd198,
      #3de292,
      rgb(0, 255, 132)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.CTA2:hover {
  background-size: 0 3px, 100% 3px;
}

.CTA2:hover {
  color: #47d892;
}

/* -------------------- Sets the div2 (About) -------------------- */
.div2 {
  min-height: 480px;
  background-image: linear-gradient(#000000, #505050);
  display: flex;
  justify-content: center;
}

.aboutImage{
  margin-right: 80px;
}

.aboutMeImage{
  width: 475px;
  margin: 40px;
  border-radius: 0.5vw;
}

.aboutText{
  max-width: 40%;
  margin-top: 80px;
}

.aboutMeTitle {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-stretch: ultra-expanded;
  font-size: 100px;
  color: #5db58a;
}

.aboutMeText {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #EAEFFF;
  padding: 0.1vw;
}

/* -------------------- Sets the div3 (Equipment) -------------------- */
.div3{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  color: #9d9d9d;
  max-height: 700px; /* 300.5vh */
}

.projects-title{
  display:inline-block;
  color: #61ac88;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 85px;
  margin-top: 15.5vw;
}

.mySlides{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 25px;
  margin-left: 8vw;
}

.slide{
  max-width: 45vw;
  border-radius: 0.5vw;
}

.slide-buttons{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  font-size: 3vw;
  margin-bottom: 1vh;
}

.prev{
  margin-right: 15px;
  padding-left:5px;
  padding-right:5px;
  border-radius:5px;
  color:#61ac88;
}

.prev:hover{
  background-color: #4a4a4a;
}

.next{
  margin-left: 15px;
  padding-left:5px;
  padding-right:5px;
  border-radius:5px;
  color:#61ac88;
}

.next:hover{
  background-color: #4a4a4a;
}

/* Control the left side */
.left {
  width:50%;
  left: 0;
  background-color: #363636;
}

/* Control the right side */
.right {
  width:70%;
  overflow-y: hidden;
  right: 0;
  background-color: #292929;
}

/* -------------------- Sets the div4 (Contact) -------------------- */
.div4 {
  background-color: #525252;
  padding: 10px;
}

.contactTitle {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #61ac88;
  text-align: center;
  /* text-shadow: 0.35vw 0.35vw 0.5vw rgb(103, 103, 103); */
}

.contact-row1{
  display:flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
}

.name{
  background-color:#626262;
  color:white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  border-radius: 1px;
  border: none;
  outline: none;
  border-color: transparent;
  padding:17px;
  font-size: 30px;
  margin: 3px;
  width: 515px;
}

.phone{
  background-color:#626262;
  color:white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  border-radius: 1px;
  border: none;
  outline: none;
  border-color: transparent;
  padding:17px;
  font-size: 30px;
  margin: 3px;
  width: 515px;
}

.contact-row11{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.email{
  background-color:#626262;
  color:white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  border-radius: 1px;
  border: none;
  outline: none;
  border-color: transparent;
  padding:17px;
  font-size: 30px;
  margin: 3px;
  width: 1070px;
}

.name::placeholder{
  color: rgb(189, 189, 189);
}

.phone::placeholder{
  color: rgb(189, 189, 189);
}

.email::placeholder{
  color: rgb(189, 189, 189);
}

.message::placeholder{
  color: rgb(189, 189, 189);
}

.contact-row2{
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.contact-row3{
  display:flex;
  justify-content: center;
  padding:15px;
  padding-bottom: 20px;
}

.send-message{
  background-color: #626262;
  border: none;
  outline: none;
  border-color: transparent;
  color:rgb(189, 189, 189);
  padding:17px;
  font-size:30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  border-radius:1px;
  transition: 0.3s;
  width: 275px;
}

.send-message:hover{
  background-color: #499b73;
  color:#000000;
}

.message{
  background-color:#626262;
  color:white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  border-radius: 1px;
  border: none;
  outline: none;
  border-color: transparent;
  padding:17px;
  font-size: 30px;
  margin-top: 3px;
  width: 1070px;
  min-height: 300px;
  max-height: 300px;
}

/* -------------------- Sets the div5 (Footer) -------------------- */
.footer1 {
  display:flex;
  min-height: 20px;
  background-color: #474747;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.additionalInformation {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #e6e6e6;
}

.instaLink {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #e6e6e6;
  margin-left: 7px;
  transition: 0.3s;
}

a{
  text-decoration: none;
}

.instaLink {
  background:
    linear-gradient(
      to right,
      #e6e6e6,
      #e6e6e6
    ),
    linear-gradient(
      to right,
      #5bd198,
      #3de292,
      rgb(0, 255, 132)
  );
  background-size: 100% 0.1vw, 0 0.1vw;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.instaLink:hover {
  background-size: 0 3px, 100% 3px;
}

.instaLink:hover {
  color: #37dc8c;
}

.moreContact {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 3vw;
  color: #498266;
}

/* -----------------------Responsive Settings----------------------- */
@media only screen and (max-width: 789px) {
  .navbar a{
    font-size: 3vw;
  }
  .DJD-logo{
    width: 17vw;
  }
}

@media only screen and (max-width: 634px) {
  .CTA1 {
    font-size: 10vw;
  }
  .CTA2 {
    font-size: 10vw;
    translate: -52vw;
  }
}

@media only screen and (max-width: 1137px) {
  .aboutMeImage{
    width: 45vw;
    margin: 1vw;
  }
  .aboutMeTitle{
    font-size: 8vw;
  }
  .aboutMeText{
    font-size: 2.5vw;
    margin: 1vw;
  }
  .aboutText{
    margin-top: 2vw;
    max-height: 40vw;
  }
  .aboutImage{
    max-height: 38vw;
  }
  .div2{
    max-height: 40vw;
    min-height: 40vw;
  }
}

@media only screen and (max-width: 600px) {
  .aboutMeImage{
    width: 98vw;
    margin: 1vw;
  }
  .aboutMeTitle{
    font-size: 14vw;
  }
  .aboutMeText{
    font-size: 6vw;
    margin: 1vw;
    max-width: 80%;
  }
  .div2{
    min-height: 25vw;
    display:inline-table;
  }
  .aboutImage{
    min-width: 100%;
    min-height: 85vw;
  }
  .aboutText{
    margin-top: 2vw;
    max-height: 70vw;
    min-width: 100%;
  }
  .aboutImage{
    max-height: 38vw;
  }
  .div2{
    max-height: 40vw;
    min-height: 40vw;
  }
}

@media only screen and (max-width: 1082px) {
  .div3{
    display:inline-table;
    width:100%;
  }
  .left{
    width:100%;
  }
  .right{
    width:100%;
  }
  .mySlides{
    margin-left: 2vw;
  }
  .projects-title{
    margin-top: 1vw;
  }
  .slide{
    min-width: 95vw;
    max-width: 96vw;
  }
  .slide-buttons{
    max-width: 17vw;
    margin-left: 43vw;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 450px) {
  .projects-title{
    font-size: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .name{
    width: 40vw;
  }
  .phone{
    width: 40vw;
  }
  .email{
    width: 85.2vw;
  }
  .message{
    width: 85.2vw;
    max-height: 25vw;
    min-height: 25vw;
  }
}

@media only screen and (max-width: 450px) {
  .contactTitle{
    font-size: 17vw;
  }
}

@media only screen and (max-width: 617px) {
  .additionalInformation{
    font-size: 3vw;
  }
  .instaLink{
    font-size: 3vw;
    margin-left: 0.6vw;
  }
}